/* CSS Document login */
body {
	position: absolute !important;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	height: 100%;
	background: transparent;
	font-size: 13px!important;
	min-width: 0;
}
body:before {
	content: "";
	position: fixed;
	background-image: url("https://storage.googleapis.com/fw_saw/images/fondo-login.png") !important;
	background-size: cover;
	z-index: -1;
	height: 100%;
	width: 100%;
}
#login {
	width: 320px;
	margin: auto;
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.13);
	box-shadow: 0 1px 3px rgba(0,0,0,0.13);
	padding: 0px;
	margin-top: 8%;
}
.login h1 {
	text-align: center;
}
.login * {
	margin: 0;
	padding: 0;
}
#login h1 a {
	background-image: url("https://storage.googleapis.com/fw_saw/images/logo_login.png") !important;
	width: 298px;
	background-size: 300px;
	height: 90px;
	background-color: rgba(255, 255, 255, 0.75);
	padding: 10px;
	background-position-y: 10px;
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0);
	box-shadow: 0 1px 3px rgba(0,0,0,0);
	border: solid 1px #fff;
	margin: 0;
	border-bottom: none 0px;
	background-position: center;
	background-repeat: no-repeat;
	color: #444;
	font-size: 20px;
	line-height: 1.3em;
	text-indent: -9999px;
	outline: 0;
	display: block;
}
.login form {
	background: rgba(255, 255, 255, 0.75)!important;
	border: solid 1px #fff;
	margin-top: 0px;
	border-top: 0px;
	border-bottom: 0px;
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0);
	box-shadow: 0 1px 3px rgba(0,0,0,.0);
	margin-left: 0;
	padding: 26px 24px 46px;
	overflow: hidden;
	font-weight: 400;
}
.login form p {
	margin-bottom: 0;
}
.login form .input, .login form input[type=checkbox], .login input[type=text], input[type=checkbox] {
	background: #fbfbfb;
}
.login form .input, .login input[type=text], input[type=checkbox] {
	font-size: 24px;
	padding: 3px;
	margin: 2px 6px 16px 0;
	outline: 0;
}
.login form .forgetmenot {
	font-weight: 400;
	float: left;
}
.login form .forgetmenot label {
	font-size: 12px;
	line-height: 19px;
}
.login .button.button-large {
	height: 30px;
	line-height: 28px;
	padding: 0 12px 2px;
}
.login p .button {
	vertical-align: baseline;
}
.login .button-primary {
	float: right;
}
.login .message {
	border: solid 1px #fff;
	border-bottom: 0px;
	border-top: 0px;
	padding: 12px;
	margin-left: 0;
	background: rgba(0, 103, 153, 0.75)!important;
	-webkit-box-shadow: 0 1px 1px 0 rgba(0,0,0,0);
	box-shadow: 0 1px 1px 0 rgba(0,0,0,0);
	color: #f0f0f0;
}
.login #nav {
	margin: 0px;
	background: rgba(255, 255, 255, 0.75)!important;
	border: solid 1px #fff;
	border-top: 0px;
	margin-left: 0;
	padding: 16px;
	background: #fff;
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0);
	box-shadow: 0 1px 3px rgba(0,0,0,.0);
}
.login #nav {
	font-size: 13px;
}
.login #login_error {
	color: #f0f0f0;
	background: rgba(220, 50, 50, 0.75)!important;
	border: solid 1px #fff;
	border-bottom: 0px;
	border-top: 0px;
}
.login #login_error > a {
	color: #f0f0f0;
}
.mobile #login {
	padding: 0;
	margin-top: 60px;
}
.mobile #login #backtoblog, .mobile #login #nav {
	margin-left: 0px;
}
.login #backtoblog a, .login #nav a {
	text-decoration: none;
	color: #555d66;
}
*, *:before, *:after {
	-webkit-box-sizing: content-box!important;
	-moz-box-sizing: content-box!important;
	box-sizing: content-box!important;
}
