a {
  color: #b2000a;
}

a:hover, a:focus {
    color: #820108;
}

div#encabezado {
  padding: 0;
}

div#breadcrumb {
    display: none;
}

.leyendatop {
  display: none;
}

#topcontent {
  margin-top: 0px;
  margin-bottom: 0px;
}

@media screen and (min-width: 1200px) {
  .sistemah1 h1 {
    font-size: initial;
    line-height: 27px;
  }
}

@media screen and (min-width: 992px) {
  .sistemah1 h1 {
    font-size: 20px !important;
    line-height: 27px;
  }
}
